
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url("./fonts/Oswald/static/Oswald-Regular.ttf");
}