
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root {
      --main: #E55556;
      --red-blue: #e31e1e;
      --red-blue-dark: #a81212;
      --fontOswald: Oswald, sans-serif;
      --fontPTSans: PT Sans, sans-serif;
}
:root:has(header nav .container .ul ul li input:checked) {
      --red-blue: #2522ce;
      --red-blue-dark: #09125f;
}
html {
      scroll-behavior: smooth;
      background: linear-gradient(#ffffff40), url("./../attachments/counters_bg.png");
      background-position: left top;
      background-repeat: repeat;
      background-size: 90%;
      background-attachment: fixed;
}
section > .container {
      max-width: 1400px;
      margin: auto;
}

section .container .heading {
      display: block;
      text-transform: uppercase;
      font-family: 'Sora';
}
section .container .heading h5 {
      color: var(--red-blue);
      font-size: 18px;
      margin-bottom: 10px;
}
section .container .heading h3 {
      position: relative;
      font-size: 55px;
      margin-bottom: 5px;
}
section .container .heading h3::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 110px;
      height: 5px;
      background-color: var(--red-blue);
      border-radius: 10px;
      animation: h3-before 2s linear 0s infinite alternate forwards;
}
section .container .heading h3 span {
      color: var(--red-blue);
}

ul {
      display: flex;
      list-style: none;
      gap: 20px;
}