
@media screen and (max-width: 370.98px) {

      header > .container {
            width: 90%;
      }
      header > .container nav {
            height: 80px;
      }
      header > .container nav .container {
            width: 90%;
      }
      header > .container nav .container .logo img {
            width: 165px;
      }
      header > .container nav .container .responsive {
            display: flex;
      }
      header > .container nav .container input:not(:checked) + .ul {
            height: 0;
            display: block;
      }
      header > .container nav .container input:checked + .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 335px;
      }
      header > .container nav .container .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition-duration: .5s;
      }
      header > .container nav .container input:checked + .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container nav .container .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container .hook h2 {
            font-size: 30px;
            letter-spacing: 5px;
      }
      header > .container .hook h3 {
            font-size: 20px;
      }
      header > .container nav .container .ul {
            display: none;
      }
      header > .container .hook a {
            padding: 12px 20px;
            font-size: 14px;
      }
      section > .container {
            width: 90% !important;
      }
      section .container .heading h3 {
            font-size: 45px;
      }
      .services .container .layout {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
      }
      .services .container .layout .div {
            width: calc(100% - 20px);
            height: auto;
      }
      .Classes .container .layout .col {
            width: 100%;
      }
      .trainers .container .layout .col {
            width: calc(100% - 15px);
            margin: auto;
      }
      #Gallery .container .images {
            width: 85%;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9, 300px);
      }
      .feedback .container .title p {
            font-size: 35px;
      }
      .feedback .container .layout .col-2 {
            flex-wrap: wrap;
            gap: 30px;
      }
      .feedback .container .layout .col-2 .item {
            width: calc(100% - 25px);
      }
      .contact .container .layout {
            flex-direction: column-reverse;
            gap: 25px;
      }
      .contact .container .layout .col {
            width: 100%
      }
      .contact .container .layout .col .form,
      .contact .container .layout .col .map {
            width: 90%;
      }
      .contact .container .layout .col .map {
            aspect-ratio: 1/1.35;
      }
      footer {
            height: auto;
            padding: 10px;
      }
}
@media screen and (min-width: 371px) and (max-width: 575.98px) {

      header > .container {
            width: 90%;
      }
      header > .container nav {
            height: 80px;
      }
      header > .container nav .container {
            width: 90%;
      }
      header > .container nav .container .logo img {
            width: 165px;
      }
      header > .container nav .container .responsive {
            display: flex;
      }
      header > .container nav .container input:not(:checked) + .ul {
            height: 0;
            display: block;
      }
      header > .container nav .container input:checked + .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 335px;
      }
      header > .container nav .container .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition-duration: .5s;
      }
      header > .container nav .container input:checked + .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container nav .container .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container .hook h2 {
            font-size: 35px;
            letter-spacing: 5px;
      }
      header > .container .hook h3 {
            font-size: 24px;
      }
      header > .container nav .container .ul {
            display: none;
      }
      header > .container .hook a {
            padding: 12px 20px;
            font-size: 14px;
      }
      section > .container {
            width: 90% !important;
      }
      section .container .heading h3 {
            font-size: 45px;
      }
      .services .container .layout {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
      }
      .services .container .layout .div {
            width: calc(100% - 20px);
            height: auto;
      }
      .Classes .container .layout .col {
            width: 100%;
      }
      .trainers .container .layout .col {
            width: calc(100% - 15px);
            margin: auto;
      }
      #Gallery .container .images {
            width: 85%;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9, 300px);
      }
      .feedback .container .title p {
            font-size: 35px;
      }
      .feedback .container .layout .col-2 {
            flex-wrap: wrap;
            gap: 30px;
      }
      .feedback .container .layout .col-2 .item {
            width: calc(100% - 25px);
      }
      .contact .container .layout {
            flex-direction: column-reverse;
            gap: 25px;
      }
      .contact .container .layout .col {
            width: 100%
      }
      .contact .container .layout .col .form,
      .contact .container .layout .col .map {
            width: 90%;
      }
      .contact .container .layout .col .map {
            aspect-ratio: 1/1.35;
      }
      footer {
            height: auto;
            padding: 10px;
      }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {

      header > .container {
            width: 90%;
      }
      header > .container nav {
            height: 80px;
      }
      header > .container nav .container {
            width: 90%;
      }
      header > .container nav .container .logo img {
            width: 150px;
      }
      header > .container nav .container .responsive {
            display: flex;
      }
      header > .container nav .container input:not(:checked) + .ul {
            height: 0;
            display: block;
      }
      header > .container nav .container input:checked + .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 335px;
      }
      header > .container nav .container .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition-duration: .5s;
      }
      header > .container nav .container input:checked + .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container nav .container .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container .hook h2 {
            font-size: 45px;
            letter-spacing: 5px;
      }
      header > .container .hook h3 {
            font-size: 27px;
      }
      header > .container nav .container .ul {
            display: none;
      }
      header > .container .hook a {
            padding: 12px 20px;
            font-size: 14px;
      }
      section > .container {
            width: 90% !important;
      }
      section .container .heading h3 {
            font-size: 45px;
      }
      .services .container .layout {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
      }
      .services .container .layout .div {
            width: calc(50% - 20px);
      }
      .Classes .container .layout .col {
            width: 100%;
      }
      .Cla
      .trainers .container .layout .col {
            width: calc(70% - 15px);
            margin: auto;
      }
      #Gallery .container .images {
            width: 60%;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9, 300px);
      }
      .feedback .container .title p {
            font-size: 35px;
      }
      .feedback .container .layout .col-2 {
            flex-wrap: wrap;
            gap: 30px;
      }
      .feedback .container .layout .col-2 .item {
            width: calc(80% - 25px);
      }
      .contact .container .layout {
            flex-direction: column-reverse;
            gap: 25px;
      }
      .contact .container .layout .col {
            width: 100%
      }
      .contact .container .layout .col .form,
      .contact .container .layout .col .map {
            width: 90%;
      }
      .contact .container .layout .col .map {
            aspect-ratio: 1/1;
      }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {

      header > .container {
            width: 90%;
      }
      header > .container nav {
            height: 80px;
      }
      header > .container nav .container {
            width: 90%;
      }
      header > .container nav .container .logo img {
            width: 200px;
      }
      header > .container nav .container .responsive {
            display: flex;
      }
      header > .container nav .container input:not(:checked) + .ul {
            height: 0;
            display: block;
      }
      header > .container nav .container input:checked + .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 335px;
      }
      header > .container nav .container .ul {
            position: absolute;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: black;
            border-radius: 5px;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition-duration: .5s;
      }
      header > .container nav .container input:checked + .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container nav .container .ul ul {
            margin: auto;
            padding-block: 20px;
            width: fit-content;
            flex-direction: column;
            gap: 10px;
      }
      header > .container .hook h2 {
            font-size: 50px;
            letter-spacing: 5px;
      }
      header > .container .hook h3 {
            font-size: 27px;
      }
      header > .container nav .container .ul {
            display: none;
      }
      header > .container .hook a {
            padding: 12px 20px;
            font-size: 14px;
      }
      section > .container {
            width: 90% !important;
      }
      section .container .heading h3 {
            font-size: 45px;
      }
      .services .container .layout {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
      }
      .services .container .layout .div {
            width: calc((100% / 3) - 20px);
      }
      .Classes .container .layout .col {
            width: 50%;
      }
      .trainers .container .layout .col {
            width: calc(50% - 15px);
      }
      .feedback .container .title p {
            font-size: 42px;
      }
      .feedback .container .layout .col-2 {
            flex-wrap: wrap;
            gap: 25px;
      }
      .feedback .container .layout .col-2 .item {
            width: calc(50% - 25px);
      }
      .contact .container .layout {
            flex-direction: column-reverse;
            gap: 25px;
      }
      .contact .container .layout .col {
            width: 100%
      }
      .contact .container .layout .col .form,
      .contact .container .layout .col .map {
            width: 60%;
      }
      .contact .container .layout .col .map {
            aspect-ratio: 1/1;
      }
}
@media screen and (min-width: 992px) and (max-width: 1299.98px) {

      header > .container {
            width: 90%;
      }
      header > .container nav {
            height: 105px;
      }
      header > .container nav .container {
            width: 90%;
      }
      header > .container .hook h2 {
            letter-spacing: 3px;
      }
      section .container {
            width: 90% !important;
      }
      section .container .heading h3 {
            font-size: 45px;
      }
      .services .container .layout {
            justify-content: center;
            gap: 35px;
      }
      .trainers .container .layout {
            gap: 25px;
      }
      .services .container .layout .div {
            width: calc(20% - 15px);
      }
      .trainers .container .layout .col {
            width: calc(50% - 15px);
            box-shadow: none;
            overflow: unset;
      }
      .trainers .container .layout .col .item {
            width: 65%;
            box-shadow: 5px 4px 25px #00000025;
            border-radius: 15px;
      }
}
@media screen and (min-width: 1400px) {

      .services .container .layout .div {
            height: 250px;
      }
}