
@media screen and (max-width: 371px) {

    header nav .responsive {
        display: flex;
    }
    header nav .ul {
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 0;
        background-color: black;
        border-radius: 10px;
        z-index: 999;
        transition-duration: 200ms;
        overflow: hidden;
    }
    header nav .ul ul {
        display: flex;
        flex-direction: column;
        margin-block: 20px;
    }
    header nav .ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    header nav .responsive:focus + .ul {
        display: block;
        height: 380px;
    }
    header .hook {
        left: 20px;
    }
    header .hook h2 {
        font-size: 30px;
    }
    header .hook h3 {
        font-size: 25px;
    }
    header .hook button {
        width: 90px;
        font-size: 12px;
    }
    section#About .container {
        margin-block: 50px !important;
        display: block;
        margin: auto;
        overflow: auto;
    }
    section#About .container .div1 {
        display: block;
        float: left;
        width: 100%;
    }
    .clients .container .layout {
        display: block;
    }
    .clients .container .layout .part1,
    .clients .container .layout .part2 {
        width: 100%;
    }
    .clients .container .layout .part1 {
        margin-bottom: 50px;
    }
    #Gallery .container .images {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(9, 350px);
    }
    #Gallery .container .images .image {
        width: 300px;
    }
    .contact .container .layout .info {
        margin-top: 35px;
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div {
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div input,
    .contact .container .layout .form form textarea {
        width: 80%;
    }
    footer .container .div {
        display: block;
    }
    footer .container .div > div {
        width: 100%;
    }
    footer .container > p {
        font-size: 14px;
    }
}
@media screen and (min-width: 371px) and (max-width: 575.98px) {
    /* 450px */

    header nav .responsive {
        display: flex;
    }
    header nav .ul {
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 0;
        background-color: black;
        border-radius: 10px;
        z-index: 999;
        transition-duration: 200ms;
        overflow: hidden;
    }
    header nav .ul ul {
        display: flex;
        flex-direction: column;
        margin-block: 20px;
    }
    header nav .ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    header nav .responsive:focus + .ul {
        display: block;
        height: 380px;
    }
    header .hook {
        left: 20px;
    }
    header .hook h2 {
        font-size: 30px;
    }
    header .hook h3 {
        font-size: 25px;
    }
    header .hook button {
        width: 90px;
        font-size: 12px;
    }
    section#About .container {
        margin-block: 50px !important;
        display: block;
        margin: auto;
        overflow: auto;
    }
    section#About .container .div1 {
        display: block;
        float: left;
        width: 100%;
    }
    section#About .container .div1 h2 {
        font-size: 30px;
    }
    section#About .container .div2 {
        display: block;
        float: right;
        width: 100%;
    }
    section#About .container .div2 img {
        display: block;
        margin: auto;
        width: 75%;
    }
    .services .container .div,
    .services .container .div.right-left {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .services .container .div .service-info {
        width: 90%;
    }
    .services .container .div .service-info h2 {
        font-size: 24px;
    }
    .clients .container .layout {
        display: block;
    }
    .clients .container .layout .part1,
    .clients .container .layout .part2 {
        width: 100%;
    }
    .clients .container .layout .part1 {
        margin-bottom: 50px;
    }
    #Gallery .container .images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 400px);
    }
    #Gallery .container .images .image {
        width: 350px;
    }
    .contact .container .layout .info {
        margin-top: 35px;
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div {
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div input,
    .contact .container .layout .form form textarea {
        width: 80%;
    }
    footer .container .div {
        display: block;
    }
    footer .container .div > div {
        width: 100%;
    }
    footer .container > p {
        font-size: 14px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    /* 650px */

    header nav .responsive {
        display: flex;
    }
    header nav .ul {
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 0;
        background-color: black;
        border-radius: 10px;
        z-index: 999;
        transition-duration: 200ms;
        overflow: hidden;
    }
    header nav .ul ul {
        display: flex;
        flex-direction: column;
        margin-block: 20px;
    }
    header nav .ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    header nav .responsive:focus + .ul {
        display: block;
        height: 380px;
    }
    header .hook {
        left: 100px;
    }
    header .hook h2 {
        font-size: 30px;
    }
    header .hook h3 {
        font-size: 25px;
    }
    header .hook button {
        width: 90px;
        font-size: 12px;
    }
    section#About .container {
        margin-block: 50px !important;
        display: block;
        margin: auto;
        overflow: auto;
    }
    section#About .container .div1 {
        display: block;
        float: left;
        width: 100%;
    }
    section#About .container .div2 {
        display: block;
        float: right;
        width: 100%;
    }
    section#About .container .div2 img {
        display: block;
        margin: auto;
    }
    .services .container .div,
    .services .container .div.right-left {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .services .container .div .service-info {
        width: 85%;
    }
    .clients .container .layout {
        display: block;
    }
    .clients .container .layout .part1,
    .clients .container .layout .part2 {
        width: 100%;
    }
    .clients .container .layout .part1 {
        margin-bottom: 50px;
    }
    #Gallery .container .images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 400px);
    }
    #Gallery .container .images .image {
        width: 450px;
    }
    .contact .container .layout .info {
        margin-top: 35px;
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div {
        flex-direction: column;
        gap: 25px;
    }
    .contact .container .layout .form form div input,
    .contact .container .layout .form form textarea {
        width: 80%;
    }
}
@media screen and (min-width: 768px) and (max-width: 990.98px) {
    /* 850px */

    header .hook {
        left: 100px;
    }
    header .hook h2 {
        font-size: 30px;
    }
    header .hook h3 {
        font-size: 25px;
    }
    header .hook button {
        width: 90px;
        font-size: 12px;
    }
    header nav .responsive {
        display: flex;
    }
    header nav .ul {
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 0;
        background-color: black;
        border-radius: 10px;
        z-index: 999;
        transition-duration: 200ms;
        overflow: hidden;
    }
    header nav .ul ul {
        display: flex;
        flex-direction: column;
        margin-block: 20px;
    }
    header nav .ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    header nav .responsive:focus + .ul {
        height: 380px;
    }
    section#About .container {
        margin-block: 50px !important;
        display: block;
        margin: auto;
        overflow: auto;
    }
    section#About .container .div1 {
        display: block;
        float: left;
        width: 100%;
    }
    section#About .container .div2 {
        display: block;
        float: right;
        width: 100%;
    }
    section#About .container .div2 img {
        display: block;
        margin: auto;
    }
    #Gallery .container .images {
        grid-template-columns: repeat(3, 235px);
    }
}
@media screen and (min-width: 991px) and (max-width: 1179.98px) {
    /* 1050px */

    #Gallery .container .images {
        grid-template-columns: repeat(3, 300px);
    }

}
@media screen and (min-width: 1180px) and (max-width: 1299.98px) {
    /* 1200px */

    header nav {
        height: 125px;
    }
    header nav h1 {
        font-size: 45px;
    }
    header nav .ul ul li a {
        font-size: 18px;
    }
    header .hook h2 {
        font-size: 60px;
    }
    header .hook h3 {
        font-size: 45px;
    }
    header .hook button {
        width: 175px;
        font-size: 20px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1399.98px) {
    /* 1200px */

    header nav {
        height: 125px;
    }
    header nav h1 {
        font-size: 45px;
    }
    header nav .ul ul li a {
        font-size: 18px;
    }
    header .hook h2 {
        font-size: 60px;
    }
    header .hook h3 {
        font-size: 45px;
    }
    header .hook button {
        width: 175px;
        font-size: 20px;
    }
}